<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Page</title>
</head>

<body>
    <form action="/add" method="post" >
        <input type="text"   name="name"    placeholder="Name" >
        <input type="number" name="age"    placeholder="Age" >
        <input type="email"  name="email"    placeholder="email" >
        <input type="course" name="course"    placeholder="course" >
        

        <button type="submit">Add Student</button>
    </form>

    <a href="/students">Go to students</a>

    

</body>

</html>